Server=89.169.183.252   # IP сервера мониторинга
ServerActive={{ server_ip }}
Hostname={{ inventory_hostname }}   # Имя узла мониторинга
Timeout=3
LogFile=/var/log/zabbix/zabbix_agentd.log
DebugLevel=3
